/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 sept. 2020, 11:56:51
    Author     : delage.gabriel
*/

.positionnementImageAmélie {
    float: left;
}

.para {
    margin-right: 50px;
    padding-right: 8px;
}
img {
    width:128px;
}

.imgCentre {
    margin:auto;
    display:block;
}

.imgTaille {
    width:1000px;
}

.texteAlignement {
    text-align: center;
}

*{

margin:0;

padding:0;

}

 

body, html{height:100%;}

body{

text-align:center;

}

 

#main{

max-width:1280px;

min-height:100%;

margin:0 auto;

position:relative;

}

 

footer{

background:#ccc;

position:absolute;

bottom:0;

width:100%;

padding-top:50px;

height:50px;

}